In [ ]:
%%sql
-- 197. Rising Temperature
-- Joinin the same table to itself to compare yesterday to today
-- DATEDIFF() returns an integer of date difference
FROM Weather w1
JOIN Weather w2 ON DATEDIFF(w1.recordDate, w2.recordDate) = -1

In [ ]:
%%sql
-- 577 Employee Bonus 
-- This line replaces NULL bonuses with 0 using COALESCE
-- If B.bonus is NULL use 0
-- If B.bonus is NOT NULL use its actual value
-- Then it checks if the resulting value is less than 1000
WHERE COALESCE(B.bonus, 0) < 1000

In [ ]:
%%sql
-- 620 Not Boring Movies
-- Interesting case of using modulo and != in WHERE 
WHERE id % 2 = 1 AND description != "boring"

In [ ]:
%%sql
-- 1251 Average Selling Price
-- Interesting use case of  COALESCE() with other functions
COALESCE(ROUND(SUM(units*price)/SUM(units), 2), 0)

In [2]:
%%sql
-- 1280 Students and Examinations
-- When you need 0 in the output it is likely you need to use LEFT JOIN 
-- When we use JOIN all rows from the left table are combined with all rows from the right table 

-- you can use column numbers in your GROUP BY and ORDER BY 
GROUP BY 1, 2, 3
ORDER BY 1, 3

-- you can use two joins in a row when joining three tables
-- additionally there can be more than one ON clause for your JOIN
JOIN Subjects
LEFT JOIN Examinations ON Students.student_id = Examinations.student_id 
AND Subjects.subject_name = Examinations.subject_name

UsageError: Cell magic `%%sql` not found.

In [5]:
%%sql
-- 1581. customer who visited but did not make any transactions
-- it is better to use COUNT(*) instead of COUNT(column) 
-- when just counting the number of rows disregarding the columns
SELECT V.customer_id, COUNT(*)

-- interesting use of NOT EXISTS
WHERE NOT EXISTS (SELECT 1 
    FROM Transactions T 
    WHERE T.visit_id = V.visit_id)

 * sqlite://
(sqlite3.OperationalError) no such table: Transactions
[SQL: -- 1581. customer who visited but did not make any transactions
-- it is better to use COUNT(*) instead of COUNT(column)
-- when just counting the number of rows disregarding the columns
SELECT V.customer_id, COUNT(*)

-- interesting use of NOT EXISTS
WHERE NOT EXISTS (SELECT 1
    FROM Transactions T
    WHERE T.visit_id = V.visit_id)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
%%sql
-- 1661. Average Time of Process per Machine
-- Remember ROUND() function
ROUND(AVG(b.timestamp-a.timestamp)

In [ ]:
%%sql
-- 1934. Confirmation Rate
-- Interesting use case of AVG, ROUND, and COALESCE all in one line
COALESCE(ROUND(AVG(action = "confirmed"), 2), 0)